<%= form_for(@string) do |f| %>
	<tr>
      <td><%= @string %></td>
      <td>Empty</td>
	  <td align="center"><%= link_to "Add",
	  			 { :action => "free_agency", :id => params[:id], :tab => @string }, 
	  			 { :align=>"left", :class=>"btn btn-sm btn-success" } %></td>
    </tr>
<% end %>