<%- model_class = Team -%>

<form action='teams/new' class="form-horizontal jumbotron trans-color" id="new_team" method="get">
  <fieldset>
    <legend align='left'>Enter League</legend>
    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label pull-left">Team Name</label>
      <div class="col-lg-10">
        <input id="inputName" name="name" type="text" class="form-control" placeholder="Team Name">
      </div>
    </div>   
   
    <div class="form-group" align='left'>
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <input name="commit" type="submit" value="Join League" class="btn btn-success" />
      </div>
    </div>
  </fieldset>
</form>