 <%= form_for @other_team, :html => { :class => 'form-horizontal' } do |f| %>
	 <% @is_sb = true %>
	 <% @away_team = true %>
	 <table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Pos</th>
	      <th style="text-align:center">Player, NFL Team</th>
	      <th style="text-align:center">Points</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% player_list = @other_team.get_formatted_player_list %>
	    <% player_list.each do |player| %>
		    <tr>
			    <% if player.instance_of? Player then %>    	
			    	<td><%= player.position %></td>
				    <td align="middle">
			  			<input class="sb-input" id="focusedInput" type="text" value=<%= player.get_current_week_stat_for(@team) %> disabled>
			  	  	</td>
			    <% else %>
			    	<td><%= player %></td>
			    	<td>Empty</td>
			    	<td align="middle">
			  			<input class="sb-input" id="focusedInput" type="text" value="0" disabled>
			  	  	</td>
			    <% end %>
			</tr>
		<% end %>
	  </tbody>
	</table>
<% end %>