<%- model_class = League -%>
<div class="custom-header">
  <h1 align="left"><%=t '.title', :default => @team.name %></h1>
</div>
<table class="table table-striped custom-table">
  <thead>
    <tr>
      <th>Pos</th>
      <th>Player, Team</th>
      <th>Action</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% player_list = @team.get_formatted_player_list %>
    <% player_list.each do |player| %>
      <% if player.instance_of? Player %>
        <% @player = player %>
        <%= render 'filled_slot', locals: {player: @player} %>
      <% else %>
        <% @string = player %>
        <%= render 'empty_slot', locals: {string: @string} %>
      <% end %>
    <% end %>
  </tbody>
</table>
<a class="btn btn-success btn-lg" href='<%= "#{@team.id}/add_player" %>'>Go To Free Agency</a>