<%- model_class = League -%>
<div class="jumbotron trans-color">
  <h1 align="center"><%=t '.title', :default => "Create League" %></h1>
  <p align="center">Create a league where you can pit your bronze against fellow competitors. Alternatively, you can simply join an league created by others.</p>
  <a class="btn btn-warning btn-lg" href="/leagues">Join League</a></p>
</div>
<%= render :partial => 'form' %>
