<%- model_class = League -%>
<div class="jumbotron trans-color">
  <h1 align="center"><%=t '.title', :default => "Create League" %></h1>
  <p align="center">In order to play Fantasy Football, you must join a league. If you can't find a league, simply create one and soon other users will flock to compete.</p>
</div>
<%= render :partial => 'form' %>
