@import "bootstrap-sprockets";
@import "bootswatch/sandstone/variables";
@import "bootstrap";
body { padding-top: 60px;
	   background-color: #93C54A;
	 }
@import "bootswatch/sandstone/bootswatch";

.col-md-9 {
	float: center !important;
	width: 90%;

}
.wrapper {
	min-height: 93.7vh;
	min-width: 600px !important;

}
.trans-color {
	background-color: transparent;
}

.wrapper, .background-color {
	background-color: #f0f0f0;
}

.log-in {
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.custom-jumbotron {
	background-color: transparent;
	width: 600px;
	max-width: 90%;
	min-width: 600px !important;
}

.custom-table {
	width: 80%;
}

.columned-text {
	float:left;
    margin-right:5px;
}

.custom-header, .custom-header-2 {
	margin-top: -10px !important;
	padding-top: 30px;
	padding-bottom: 30px;
}
.custom-header {
	width: 80%;
}

#defaultInput, #focusedInput {
	margin-bottom: 10px;
}

.link-buffer {
	padding-left: 0px;
	padding-top: 10px;
}