@import "bootstrap-sprockets";
@import "bootswatch/sandstone/variables";
@import "bootstrap";
body { padding-top: 60px;
	   background-color: #93C54A;
	 }
@import "bootswatch/sandstone/bootswatch";

.col-md-9 {
	float: center !important;
	width: 90%;

}
.wrapper {
	min-height: 100vh;
	min-width: 600px !important;
	padding-bottom: 60px;

}
.trans-color {
	background-color: transparent;
}

.wrapper, .background-color {
	background-color: #f0f0f0;
}

.log-in {
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.custom-jumbotron {
	background-color: transparent;
	width: 600px;
	max-width: 90%;
	min-width: 600px !important;
}

.custom-table {
	width: 80%;
}

.columned-text {
	float:left;
    margin-right:5px;
}

.custom-header, .custom-header-2 {
	margin-top: -10px !important;
	padding-top: 30px;
	padding-bottom: 30px;
}
.custom-header {
	width: 80%;
}

#defaultInput, #focusedInput {
	margin-bottom: 10px;
}

.link-buffer {
	padding-left: 0px;
	padding-top: 10px;
}

.scoreboard {
	background-color: transparent;
	width: 100%;
}

.sb-top-right {
	padding-right: 20px;
	text-align: center;
}

.sb-top-left {
	padding-left: 20px;
	text-align: center;
}

#parent_div_1 {
    width:50%;
    height:100%;
    float:left;
    border-right:1px solid #7f8c8d;
}

#parent_div_2 {
    width:50%;
    height:100px;
    float:right;
}

.boo {
	text-align: left;
	margin-top: -30px;
	margin-bottom: 20px;
}

#fa-to-team-link {
	margin-left: 12%;
}

.sb-input {
	width: 30px;
	height: 30px;
	text-align: center;
}

.btn-wide {
	width: 200px;
}

.score-btn {
	margin-top: 4px;
	margin-bottom: 4px;
}

.pad-btn {
	margin-right: 3px;
	margin-bottom: 15px;
}

.pull-up-btn {
	margin-top: -100px;
}

.v-space {
	margin-bottom: 25px;
}